body{
  display: flex;
}
main{
  width: 90%;
}
 /*-------------MENU---------------*/
 @keyframes menus{
  0% {
    top: 10px;
    }
  25%{
    top: 225px;
  }
  50%{
    top: 450px;
  }
  75%{
    top: 675px;
  }
  100%{
    top: 900px;
  }
}
aside{
  transition-duration: 3s;
  background-color: black;
  height: 90px;
  width: 10%;
  color: #efefef;
  text-align: center;
  border-radius: 30px;
}
aside:hover{
  height: 2600px;
  animation: menus ;
  
}

/*---------------CARRER-----------------*/

@keyframes rotation {
    from {
        background: green;
        transform: rotate(0deg);
    }
    to {
        background: purple;
        transform: rotate(720deg);
    }
}
#carre{
  margin: 0 0 30px 0;
  padding: 20px;
  background-color: rgba(20,20,20,0.9);
  color: rgb(243, 6, 6);
  text-align: center;
  font-family: Arial;
  text-transform: uppercase;
  box-shadow: 0 0 20px -1px #efefef;
}
#a{
    
    width : 200px;
    height : 200px;
    background : orange;
    border : solid black 1px;
    animation : rotation 3s infinite linear alternate;
    margin-left: 640px;
    margin-top: 50px;
}

/*--------------Balle------------------*/

@keyframes bounce {
  0% {transform: translateY(0px);}
  10%{transform: translateY(190px);}
  20%{transform: translateY(45px);}
  30%{transform: translateY(190px);}
  40%{transform: translateY(90px);}
  50%{transform: translateY(190px);}
  60%{transform: translateY(135px);}
  70%{transform: translateY(190px);}
  80%{transform: translateY(180px);}
  90%{transform: translateY(190px);}
  100%{transform: translateY(0%);}
}
#balle{
  margin: 100px 0 30px 0;
  padding: 20px;
  background-color: rgba(20,20,20,0.9);
  color: rgb(238, 21, 202);
  text-align: center;
  font-family: Arial;
  text-transform: uppercase;
  box-shadow: 0 0 20px -1px #efefef;
        
}
#b{
    width : 100px;
    height: 290px;
    background-color: blueviolet;
    border : 1px black solid;
    padding : 1px;
    margin-left: 690px;
}
#b1{

    border-radius : 100%;
    width : 100px;
    height : 100px;
    background : black;
    animation : bounce 2.5s linear infinite ;
    margin-left: 690px;
    margin-top: -290px;
}


/*-------------LOADER----------------------*/
#load{
  margin: 250px 0 30px 0;
  padding: 20px;
  background-color: rgba(20,20,20,0.9);
  color: rgb(13, 240, 43);
  text-align: center;
  font-family: Arial;
  text-transform: uppercase;
  box-shadow: 0 0 20px -1px #efefef;
}
.c{
    display: flex;
    position : absolute;
    border : 1px solid black;
    border-radius : 100%;
    width : 60px;
    height : 60px;
    margin-left: 80px;
    
    
}
#c1{
    animation : loading 3s linear alternate infinite;
    margin-left: 660px;    
}

#c2{
  animation : loading 3s linear alternate infinite;
  margin-left: 730px;
  animation-delay: 1s;
}

#c3{
animation : loading 3s linear alternate infinite;
margin-left: 800px;
animation-delay: 2s;

}
@keyframes loading{
    0%{background : yellow}
    50%{background :yellowgreen}
    100%{background : darkgreen}
}

/*---------------La chenille---------------------*/

#container{
  position: relative;
  width : 320px;
  height : 320px;
  background : burlywood;
  margin-top: 30px;
  margin-left: 600px;
  
}
#fille{
  position: absolute;
}
.che{
  margin: 300px 0 30px 0;
  padding: 20px;
  background-color: rgba(20,20,20,0.9);
  color: rgb(59, 11, 233);
  text-align: center;
  font-family: Arial;
  text-transform: uppercase;
  box-shadow: 0 0 20px -1px #efefef;
}

.d{
    position : absolute;
    border : 1px black solid;
    background : purple;
    border-radius: 20%;
    width : 50px;
    height : 50px;

  
}

@keyframes etoile{
    0% {
      top: 10px;
      transform: rotate(0deg);
      }
    20%{
      top: 250px;
      background-color: blue;
    }
    21%{
      left: 10px;
    }
    50%{
      left: 250px;
      background-color: black;
    }
    51%{
      top: 250px;
    }
    70%{
      top: 10px;
    }
    71%{
      left: 250px;
      transform: rotate(1440deg);
    }
    100%{
      left: 10px;
      transform: rotate(0deg);
    }

}

#d1{
    animation : etoile 12s infinite; 
}

#d2{
  animation : etoile 12s infinite linear;
  animation-delay: 1s;
}

#d3{  
  animation : etoile 12s infinite ;
  animation-delay: 3s;
}

#d4{ 
  animation : etoile 12s infinite linear;
  animation-delay: 5s;
}

#d5{  
  animation : etoile 12s infinite ;
  animation-delay: 7s;
}

#d6{  
  animation : etoile 12s infinite linear ;
  animation-delay: 9s;
}

/*-----------------CAROUCELLE------------------*/

.car{/*titre*/
  margin: 50px 0 30px 0;
  padding: 20px;
  background-color: rgba(20,20,20,0.9);
  color: #fff;
  text-align: center;
  font-family: Arial;
  text-transform: uppercase;
  box-shadow: 0 0 20px -1px #efefef;
}
.carousel_wrapper{/*encadrement*/
  position: relative;
  width: 1320px;
  height: 800px;
  background-color: blanchedalmond;
  margin: 5px auto 0 auto; 
  
}
#carousel{ /*Parents*/ 
  position: absolute;
  width:60%;
  height:60%;
  left: 250px;
  right: 900px;
  bottom: 20px;
  top: 200px;
  transform-style: preserve-3d;
  animation: rotate 4S linear infinite;
}
.side{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 150px;
  
}
#glob1{
  transform: rotate(45deg);
}
#glob2{
  transform: rotate(90deg);
}
#glob3{
  transform: rotate(135deg);
}
#glob4{
  transform: rotate(180deg);
}


 @keyframes rotate{
    from{
      transform: rotate3d(0deg);
    }
  to{
      transform: rotate3d(1,1,1, 360deg);
  }   

  
}
@keyframes position {
  0%{
    top: -100px;
  }
  10%{ 
    right: 130px;
  }
}

.e1{ 
  border : 1px black solid;
  background : rgb(73, 198, 35);
  width : 30px;
  height : 30px;
}
.e2{
  border : 1px black solid;
  background : rgb(198, 122, 35);  
  width : 30px;
  height : 30px;  
}
.e3{
  border : 1px black solid;
  background : rgb(35, 46, 198);  
  width : 30px;
  height : 30px;
}
.e4{
  border : 1px black solid;
  background : rgb(224, 228, 22);  
  width : 30px;
  height : 30px; 
}
.e5{
  border : 1px black solid;
  background : rgb(197, 27, 21);  
  width : 30px;
  height : 30px; 
}
.e6{
  border : 1px black solid;
  background : rgb(35, 152, 198);  
  width : 30px;
  height : 30px; 
}
.e7{
  border : 1px black solid;
  background : rgb(35, 198, 122);  
  width : 30px;
  height : 30px;
}
.e8{
  border : 1px black solid;
  background : rgb(17, 20, 204);  
  width : 30px;
  height : 30px;
}
